<header class="header">
  <div class="logo">
    <h1>Inmobiliaria Sonogroup</h1>
  </div>

  <nav class="nav">
    <a routerLink="/dashboard/home" routerLinkActive="active">Inicio</a>
    <a routerLink="/dashboard/propiedades" routerLinkActive="active">Inmuebles</a>
    <a routerLink="/dashboard/usuarios" routerLinkActive="active">Usuarios</a>
    <a routerLink="/dashboard/reportes" routerLinkActive="active">Reportes</a>
    <a routerLink="/auth/login" class="btn-login" routerLinkActive="active">Iniciar sesión</a>
  </nav>
</header>
